# Essential Library

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [2]:
df = pd.read_csv(r"C:\Users\91766\Downloads\Heart.csv")
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [3]:
df.shape

(303, 15)

In [4]:
df.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [5]:
df.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs',
       'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [7]:
dummy_features = pd.get_dummies(df['ChestPain'],drop_first=True)

In [8]:
dummy_features

     nonanginal  nontypical  typical
0             0           0        1
1             0           0        0
2             0           0        0
3             1           0        0
4             0           1        0
..          ...         ...      ...
298           0           0        1
299           0           0        0
300           0           0        0
301           0           1        0
302           1           0        0

[303 rows x 3 columns]

In [11]:
# Creating a dummy variable for some of the categorical variables and dropping the first one.
dummy1 = pd.get_dummies(df[['Sex', 'ChestPain','RestECG','ExAng','Slope']], drop_first=True)

# Adding the results to the master dataframe
final_data = pd.concat([df, dummy1], axis=1)

In [12]:
# Adding the results to the master dataframe
final_data = pd.concat([df, dummy1], axis=1)

In [13]:
final_data.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,...,Ca,Thal,AHD,Sex,RestECG,ExAng,Slope,ChestPain_nonanginal,ChestPain_nontypical,ChestPain_typical
0,1,63,1,typical,145,233,1,2,150,0,...,0.0,fixed,No,1,2,0,3,0,0,1
1,2,67,1,asymptomatic,160,286,0,2,108,1,...,3.0,normal,Yes,1,2,1,2,0,0,0
2,3,67,1,asymptomatic,120,229,0,2,129,1,...,2.0,reversable,Yes,1,2,1,2,0,0,0
3,4,37,1,nonanginal,130,250,0,0,187,0,...,0.0,normal,No,1,0,0,3,1,0,0
4,5,41,0,nontypical,130,204,0,2,172,0,...,0.0,normal,No,0,2,0,1,0,1,0

In [14]:
final_data = final_data.drop(['Sex', 'ChestPain','RestECG','ExAng','Slope'],1)

In [15]:
final_data.shape

(303, 13)

In [16]:
final_data.head()

,Unnamed: 0,Age,RestBP,Chol,Fbs,MaxHR,Oldpeak,Ca,Thal,AHD,ChestPain_nonanginal,ChestPain_nontypical,ChestPain_typical
0,1,63,145,233,1,150,2.3,0.0,fixed,No,0,0,1
1,2,67,160,286,0,108,1.5,3.0,normal,Yes,0,0,0
2,3,67,120,229,0,129,2.6,2.0,reversable,Yes,0,0,0
3,4,37,130,250,0,187,3.5,0.0,normal,No,1,0,0
4,5,41,130,204,0,172,1.4,0.0,normal,No,0,1,0

Assigning values to input output vector

In [18]:
x_data = final_data.drop('Ca',1)
y_data = final_data['Ca']

In [23]:
X = x_data.to_numpy()
y = y_data.to_numpy()